@import "tailwindcss";

@layer base{
  html, body {
    overflow-x: hidden;
    font-family: "Poppins", sans-serif;
  }
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

body {
  height: 100%;
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif;
}

:root {
  --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
}

.main-container {
  overflow-x: hidden;
}

.main-container,
.main-container * {
  box-sizing: border-box;
}

input,
select,
textarea,
button {
  outline: 0;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

